.DS_Store

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
.texpadtmp/
*.run.xml
*.bcf
_minted*/
*.lol
*.synctex.gz(busy)
*.pyg
*.tld
*.tdn
*.tlg
svg-inkscape/
*.fls
*.fdb_latexmk
*.synctex(busy)
